WebServiceDemo/Service References/ServiceReference1/ServiceSample1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepInSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepInSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListFromSession">
        <s:complexType />
      </s:element>
      <s:element name="GetListFromSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListFromSessionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="KeepInSessionSoapIn">
    <wsdl:part name="parameters" element="tns:KeepInSession" />
  </wsdl:message>
  <wsdl:message name="KeepInSessionSoapOut">
    <wsdl:part name="parameters" element="tns:KeepInSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetListFromSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetListFromSession" />
  </wsdl:message>
  <wsdl:message name="GetListFromSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetListFromSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSample1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KeepInSession">
      <wsdl:input message="tns:KeepInSessionSoapIn" />
      <wsdl:output message="tns:KeepInSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListFromSession">
      <wsdl:input message="tns:GetListFromSessionSoapIn" />
      <wsdl:output message="tns:GetListFromSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSample1Soap" type="tns:ServiceSample1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepInSession">
      <soap:operation soapAction="http://tempuri.org/KeepInSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFromSession">
      <soap:operation soapAction="http://tempuri.org/GetListFromSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSample1Soap12" type="tns:ServiceSample1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepInSession">
      <soap12:operation soapAction="http://tempuri.org/KeepInSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFromSession">
      <soap12:operation soapAction="http://tempuri.org/GetListFromSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSample1">
    <wsdl:port name="ServiceSample1Soap" binding="tns:ServiceSample1Soap">
      <soap:address location="http://localhost:13360/ServiceSample1.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSample1Soap12" binding="tns:ServiceSample1Soap12">
      <soap12:address location="http://localhost:13360/ServiceSample1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>